<div class="m-3">
  <div class="mb-3">
<h1>Zona de pulsaciones</h1>
<div>Caculo de zona de pulsaciones para entrenamiento Running.</div>
</div>

<form [formGroup]="profileForm">

<div class="row">

<div class="col">
<div class="mb-3">
<label for="fctop" class="form-label">Frecuencia Cardiaca Tope</label>
<input class="form-control" id="fctop"  formControlName="top">
</div>
</div>

<div class="col">
<div class="mb-3">
<label for="fcrep" class="form-label">Frecuencia Cardiaca en reposo</label>
<input id="fcrep" formControlName="rep" class="form-control">
</div>
</div>

<div class="col">
<div class="mb-3">
<label for="fcrep" class="form-label">Edad</label>
<input id="fcrep" formControlName="age" class="form-control">
</div>
</div>


</div>
Frecuencio cardiaca tope: {{ top }}<br>
Frecuencio cardiaca reposo: {{ rep }}<br>
Edad: {{ age }}<br>
Frecuencia cardiaca maxima (FCmax = FCtop - (0.7 x edad)): {{ max }}<br>
Zona 0 = < {{ p6 }}<br>
Zona 1 = {{ p6 }} - {{ p7 }}<br>
Zona 2 = {{ p7 }} - {{ p8 }}<br>
Zona 3 = {{ p8 }} - {{ p9 }}<br>
Zona 4 = {{ p9 }} - {{ p10 }}<br>
Zona 5 = > {{ p10 }}<br>


</form>

</div>
